@{
    bool IsAuthenticated = 
        (User.Identity) != null ? (User.Identity).IsAuthenticated : false;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Panel</title>
        <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true" />
    </head>

    <body>
        <div class="panel__header">
            <div class="panel__header__logo">
                ShopCRM
            </div>
        @{
            if (IsAuthenticated)
            {
            <div class="panel__header__label">
                banysk: admin
            </div>
            <div class="panel__header__container">
                <div class="button">
                    Выйти
                </div>
            </div>
            }
        }
        </div>

        <div class="panel__container">
            @{
                if (IsAuthenticated)
                {
                <div class="panel__container__menu">
                    <div class="group__label">
                        Данные
                    </div>
                    <ul class="group">
                        <li class="group__item" onclick="location.href='/Panel/Users'">
                            Пользователи
                        </li>
                        <li class="group__item">
                            Клиенты
                        </li>
                        <li class="group__item">
                            Клиенты (Временные)
                        </li>
                        <li class="group__item">
                            Товары
                        </li>
                        <li class="group__item">
                            Заказы
                        </li>
                    </ul>
                </div>
                }
            }

            <div class="panel__container__body">
                @RenderBody()
            </div>
        </div>

        <div class="panel__footer">
            <div class="panel__footer__label">
                Система управления заказами
            </div>
        </div>
    </body>
</html>
