@using System.Security.Claims
@{
    bool IsAuthenticated = 
        (User.Identity) != null ? (User.Identity).IsAuthenticated : false;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Panel</title>
        <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true" />
    </head>

    <body>
        <div class="panel__header">
            <div class="panel__header__logo">
                ShopCRM
            </div>
        @{
            if (IsAuthenticated)
            {
            <div class="panel__header__label">
                @{Write(((System.Security.Claims.ClaimsIdentity)User.Identity)?.Claims.Where(c => c.Type == ClaimTypes.Name)
                   .Select(c => c.Value).SingleOrDefault().ToString());}:
                @{Write(((System.Security.Claims.ClaimsIdentity)User.Identity)?.Claims.Where(c => c.Type == ClaimTypes.Role)
                   .Select(c => c.Value).SingleOrDefault().ToString());}
            </div>
            <div class="panel__header__container">
                <div class="panel__button" onclick="location.href='/Panel/Logout'">
                    Выйти
                </div>
            </div>
            }
        }
        </div>

        <div class="panel__container">
            <div class="panel__container__menu">
            @{
                if (IsAuthenticated)
                {
                    <div class="group__label">
                        Таблицы
                    </div>
                    <ul class="group">
                        <li class="group__item" onclick="location.href='/Panel/Users/1'">
                            Пользователи [@ViewBag.Metrics.Users]
                        </li>
                        <li class="group__item" onclick="location.href='/Panel/Customers/1'">
                            Клиенты [@ViewBag.Metrics.Customers]
                        </li>
                        <li class="group__item">
                            Новые клиенты [@ViewBag.Metrics.TemporaryCustomers]
                        </li>
                        <li class="group__item">
                            Товары [@ViewBag.Metrics.Items]
                        </li>
                        <li class="group__item">
                            Заказы [@ViewBag.Metrics.Orders]
                        </li>
                    </ul>
                }
            }
            </div>

            <div class="panel__container__body">
                @RenderBody()
            </div>
        </div>

        <div class="panel__footer">
            <div class="panel__footer__label">
                Система управления заказами
            </div>
        </div>
    </body>
</html>
