@using ShopCRM.Utils
@using System.Reflection
@{
    Layout = "~/Views/Panel/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="group">
    <div class="group__label">
        TODO list
    </div>
    <ul>
        <li class="group__item">Добавить проверки на null'ы</li>
        <li class="group__item">Реализовать заказы</li>
        <li class="group__item">Реализовать отображение заказов</li>
        <li class="group__item">...</li>
        <li class="group__item">...</li>
    </ul>
</div>